
@use "../utilities/variables" as *;
@use "../base/typography" as *;
@use "../utilities/mixins" as *;
@use "../utilities/helpers" as *;
//Products
.product {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    @include grid-center(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    @include respond-to(md) {
      grid-template-columns: 1fr; // Hacer que todos los productos se apilen en pantallas pequeñas
      padding: 10px; // Reducir el padding en pantallas pequeñas
    }
    &__card {
      cursor: pointer;
      @include text-style();
      @include transition($duration: 0.5s);
      @include box-shadow($color-name: light);
      box-sizing: border-box;
      margin: $spacing-lg;
      background: $background-color;
      border-radius: $border-radius-xl;
      
      &:hover {
        transform: scale(1.05);
        @include box-shadow($color-name: medium);
      }
      .product__image {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        border-radius: $border-radius-xl;
        margin-bottom: $spacing-md;

        .product__like {
          @include icon-style(
            $size: $spacing-sm,
            $scale: none,
            $font-size: $spacing-sm,
            $bg-hover: transparent,
            $color-hover: $icon-color-like
          );
          position: absolute;
          top: 10px;
          left: 10px;
          background: transparent;
          border: none;
          cursor: pointer;
          font-size: $font-size-xl;
          color: $primary-color;
          z-index: 10;
          &.liked {
            color: $icon-color-like !important; 
          }
        }
        .product__img {
          @include responsive-media($ratio: 5%,$width: 100%)
          {
            object-fit: cover;
            border-radius: $border-radius;
          }
        }
      }
  
      .product__info {
        padding: $spacing-md;
        background-color: $product-bg-neutral;
        border-radius: 0 0 $border-radius-xl $border-radius-xl;
  
        .product__name {
          cursor: pointer;
          @include text-style(
            $font-size: $font-size-lg,
            $font-weight: bold,
            $color: $text-color
          );
          &:hover {
            @include text-style(
              $font-size: $font-size-lg,
              $font-weight: bold,
              $color: $product-text-light
            );
          }
        }
  
        .product__price {
          @include text-style(
            $font-size: $font-size-base,
            $font-weight: bold,
            $color: $product-text-muted
          );
        }
  
        .product__rating {
          .fas.fa-star,
          .fas.fa-star-half-alt {
            color: $icon-star-fas; 
            font-size: $font-size-xxs;
            margin-right: $spacing-xs;
          }
  
          .far.fa-star {
            color: $icon-star-far; 
            font-size: $font-size-xxs;
            margin-right: $spacing-xs;
          }
  
          .fa-star-half::before {
            content: "\f005"; //Estrella sólida 
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            font-size: $font-size-xxs;
            background: linear-gradient(
              to right,
              $icon-star-fas 50%,
              $icon-star-far 50%
            ); // Dividirla mitad 
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
          }
        }
  
        .product__btn{
          @include button-style(
            $bg:$button-background,              
            $color:$button-text,            
            $bg-hover:$button-background-hover,                
            $b-radius:$border-radius-sm,                
            $scale: 1.1,                
            $btn-font-size:$font-size-base,               
          );
        }
      }
    }
  }
  